node_modules
.vscode
.idea
.git
.github
.gitignore
.dockerignore
.eslintignore
.eslintrc.json
data
data-test
docs
test

*.swp
*.swo
*.DS_Store

npm-debug.log
static/application.min.js
config.js
Dockerfile
Dockerfile.multiarch
docker-compose.yml